<form method="post">
    <div>
        <label>Meetup title:</label><br />
        <input type="text" name="title" />
    </div>
    <div>
        <label>Meetup date:</label><br />
        <input type="date" name="date" />
    </div>
    <div>
        <label>Meetup time:</label><br />
        <input type="time" name="time" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>